.root{
    -fx-background-color:rgb(0, 90, 128);
    fx-background-image:url("../images/JavaFX_Logo.png");
    
}

.button{
    -fx-background-color:rgb(91, 122, 116);
    -fx-text-fill:white;
    -fx-font-weight:bold;
    -fx-border-color:white;
    -fx-background-radius:10 10 10 10;
    -fx-border-radius:10;
}

#btCadastrar:hover{
    -fx-background-color:rgb(28, 130, 189);
}
#btVisualizar:hover{
    -fx-background-color:rgb(28, 31, 189);
}
